$regular-clr: #eee;
$primary-clr: #333;
$accent-clr: #46be46;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: $primary-clr;
}

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-clr;

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 40rem;
    padding: 2rem 4rem;

    & > h1 {
      font-size: 2rem;
      color: $regular-clr;

      #weather {
        color: $accent-clr;
        border-bottom: 0.15rem solid $accent-clr;
      }

      #widget {
        background: #eee;
        color: $primary-clr;
        padding: 0.2rem 0.8rem;
        border-radius: 1rem;
      }
    }

    .search-bar {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;  
      
      & > input {
        width: 100%;
        padding: 1.5rem 5rem 1.5rem 1.5rem;
        border-radius: 1rem;
        border: 0.15rem solid $regular-clr;
        color: $regular-clr;
        background: transparent;
        outline: none;
        font-size: 1.2rem;

        &::placeholder {
          color: darken($regular-clr, 50%);
        }
      }

      & > button {
        position: absolute;
        right: 2rem;
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.1rem;
        border: 0.15rem solid transparent;
        transition: all 0.1s linear;

        &:hover {
          border-bottom: 0.15rem solid $regular-clr;
        }

        & > img {
          width: 1.5rem;
        }
      }
    }

    & > h2 {
      color: darken($regular-clr, 25%);
      font-weight: 400;
      align-self: flex-start;
      margin: 0 2rem;
    }

    .today-weather-info {
      background: $accent-clr;
      border: 0.15rem solid $regular-clr;
      color: $regular-clr;

      width: 100%;
      border-radius: 1rem;

      display: none;
      align-items: center;
      grid-template-columns: 1fr;
      gap: 1rem;

      padding: 1rem;
      font-size: 1.8rem;

    }
  }
}

@media (min-width: 768px) {
  #app {

    .container {

      .today-weather-info {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        white-space: nowrap;
      }
    }
  }
}